<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/config/**/*.bean.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.xinfan.msgbox.http.context.AppContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>


	<servlet>
	<display-name>MainService</display-name>
		<servlet-name>MainService</servlet-name>
		<servlet-class>com.xinfan.msgbox.http.MainService</servlet-class>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>MainService</servlet-name>
		<url-pattern>/MainService</url-pattern>
	</servlet-mapping>
</web-app>